@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&family=Ubuntu:ital,wght@0,700;1,400;1,500&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}



.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto; 
}

/*navbar styling*/
.navbar{
	position: fixed;
	width: 100%;
	padding: 15px 0;
	z-index: 999; 
	/*background: #911810;*/
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
	padding: 15px 0;
	background: #fad505;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span{
   color: #fad505;
}
/* changes color when scrolling down*/
.navbar.sticky .logo a span{
	color: #ffff;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
	color: #fad505;
}

.navbar.sticky .menu li a:hover{
	color: #ffff;
}

/*menu btn styling*/

.menu-btn{
    color: #ffff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*home section styling*/
.home{
	display: flex;
	background: url("images/bg.png") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
    color: #fff;
    min-height: 500px;
     font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
	margin: auto 0 auto 40px;

}

.home .home-content .text-1{
     font-size: 27px;
}
.home .home-content .text-2{
     font-size: 75px;
     font-weight: 600;
     margin-left: -3px;
}
.home .home-content .text-3{
     font-size: 40px;
     margin: 5px 0; 
}

.home .home-content .text-3 span{
	color: #fad505;
	font-weight: 500;
}

/*about home section*/

section{
	padding: 100px 0;
}

.about, .skills, .contact, .footer{
	font-family: 'Poppins', sans-serif;
}

.about .title{
	text-align: center;
	font-family: 'Ubuntu', sans-serif; 
	position: relative;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;

}

.about .title::after{
	  content: "";
	  position: absolute;
	  height: 3px;
	  width: 190px;
	  left: 50%;
	  top: 70%;
	  bottom: 0px;
      font-size: 20px;
     
	  background: #fad505;
	  transform: translateX(-50%);
}


/**/
	  


.about .about-content,
.skills .skills-content,
.contact .contact-content
{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       column-gap: 20px;
       grid-row-gap: 20px;

}
.about .about-content .left{
    width: 45%;    
}


.about .about-content .left img{
     height: 400px;
     width: 400px;
     object-fit: cover;
     border-radius: 50%;
}



.about .about-content .right{
    width: 45%;
}

.about .about-content .right .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;

}

.about .about-content .right .text span{
	color: #fad505;
}

.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{
	display: inline-block;
	background: #fad505;
	color: #fff;
	font-size: 25px;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	font-weight: 500;
	border: 2px solid #fad505;
	transition: all 0.3s ease;

}
.about .about-content .right a:hover{
      color: #fad505;
      background: none; 
}


/*Skills Section*/
.skills{
 background: #111;
 color: #fff;	
}

.skills .title{
	text-align: center;
	font-family: 'Ubuntu', sans-serif; 
	position: relative;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;

}

.skills .title::after{
	  content: "";
	  position: absolute;
	  height: 3px;
	  width: 100px;
	  left: 50%;
	  top: 70%;
	  bottom: 0px;
      font-size: 20px;
	  background: #fad505;
	  transform: translateX(-50%);
}

/*.skills .skills-content{
	display: flex;
	column-gap: 20px;
	grid-row-gap: 10px;
	flex-wrap: wrap;
    align-content: space-around;
}*/

.skills .skills-content .card{
      /*width: calc(33% - 20px);*/
      flex-grow: 1;
      width: 30%;
      height: 170px;
      background: #222;
      text-align: center;
      border-radius: 6px;
      padding: 20px 25px;
      cursor: pointer;

}

.skills .skills-content .card:hover{
	background-color: #fad505;

}


.skills .skills-content .card .box{
      transition: all 0.3s ease;

}
.skills .skills-content .card:hover .box{
      transform: scale(1.02);
      /*background-color: #fad505;*/
}

.skills .skills-content .card .text{
     font-size: 25px;
     font-weight: 500;
     margin: 10px 0 7px 0;
}


/*contact section*/
.contact .title{
	text-align: center;
	font-family: 'Ubuntu', sans-serif; 
	position: relative;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;

}

.contact .title::after{
	  content: "";
	  position: absolute;
	  height: 3px;
	  width: 210px;
	  left: 50%;
	  top: 70%;
	  bottom: 0px;
      font-size: 20px;
     
	  background: #fad505;
	  transform: translateX(-50%);
}

.contact .contact-content .column{
	width: calc(50% - 30px);
}

.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}



.contact .contact-content .left .icons{
	margin: 10px 0;
}

.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}

.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .row .fa-user, .fa-envelope, .fa-github, .fa-linkedin-in{
	font-size: 25px;
	color: #fad505;
}

.contact .contact-content .info .head{
	font-weight: 500;
} 

.contact .contact-content .info .sub-title{
	color: #333;
} 

.contact .right form .fields{
	display: flex;

}

.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 10px;
}

.contact .left .info a{
	color: black;
	text-decoration: none;
}
.contact .left .info a:hover{
	text-decoration: underline;
}

.contact .right form .textarea{
	height: 80px;
	width: 100%;
}
.contact .right form .button{
	height: 47px;
	width: 170px;
}
.contact .right form .button button{
	height: 100%;
	width: 100%;
	border: 2px solid #fad505;
	background: #fad505;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover{
	color: #fad505;
	background: none;
}


.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	resize: none;
}



/*Footer section*/

footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	text-align: center;
}
footer span a{
	color: #fad505;
	text-decoration: none;
}

footer span a:hover{
	text-decoration: underline;
}





  


/*responsive media query*/
@media (max-width: 1300px){
	.home .max-width{
		margin-left: 0px;
	}
}

@media(max-width: 1104px){
     .about .about-content .left img{
         height: 350px;
         width: 350px;
       
     } 
}

@media(max-width: 991px){
    .max-width{
		
		padding: 0 50px; 
    } 
}


@media (max-width: 947px){
    
    .max-width{
    	padding: 0 50px;
    }
    
    .menu-btn{
    	display: block;
    	z-index: 999;
    }
   
    .menu-btn i.active:after{
    	content: "\f00d";
    }
    
    .navbar .menu{
    	position: fixed;
    	height: 100vh;
    	width: 100%;
    	left: -100%;
    	top: 0;
    	background: #111;
        text-align: center;
        padding-top: 80px; 
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }


    .navbar .menu li{
    	display: block;
    }
    .navbar .menu li a{
    	display: inline-block;
    	margin: 20px 0;
    	font-size: 20px;
        
    }

    .home .home-content .text-2{
	     font-size: 70px;
	}
	.home .home-content .text-3{
	     font-size: 35px;
	     margin: 5px 0; 
	}
	.max-width{
        max-width: 800px;  
	} 
	.about .about-content .column{
         width: 50%;

	}
	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px; 
	}
	.about .about-content .right {
	    flex: 100%;       
	}

	.skills .skills-content .card{
    	width: calc(50% - 10px);
    	margin-bottom: 20px; 
    }

    .contact .contact-content .column{
    	width: 100%;
    	margin-bottom: 35px;
    }

}

@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.home .home-content .text-2{
	     font-size: 60px;
	}
	.home .home-content .text-3{
	     font-size: 32px;
	    
	}

    .skills .skills-content .card{
    	width: 100%;
    
    }
}

@media (max-width: 500px){
	
	.home .home-content .text-2{
	     font-size: 50px;
	}
	.home .home-content .text-3{
	     font-size: 27px;
	    
	}
}




